*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Helvetica", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(../img/bg.png);
  background-attachment: fixed;
}

#general-content {
  height: 100%;
  display: flex;
}

.navbar {
  background-color: #30B8B2;
  width: 70px;
}
.navbar div .navbar-brand {
  font-size: 2em;
  background-color: #121212;
  color: #FF7A4F;
  height: 2em;
}
.navbar div .nav {
  margin: -0.6em;
}
.navbar div .nav-pills .active {
  color: #121212;
  background-color: #E8E8E6;
}
.navbar div .nav-link,
.navbar div .social-network a {
  color: #004B63;
  font-size: 1.2em;
}
.navbar div .nav-link:hover,
.navbar div .social-network a:hover {
  color: #121212;
}
.navbar div .social-network a {
  font-size: 1.2em;
  display: block;
}

.left-side {
  background-color: #004a63f8;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 70px;
}
.left-side article {
  margin: auto;
  margin: 10%;
}
.left-side article h2 {
  color: #E8E8E6;
  position: relative;
  color: #E8E8E6;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.0625em;
  width: calc(20ch + 20*0.0625em);
}
.left-side article h2:after {
  display: block;
  position: absolute;
  content: "";
  width: calc(20ch + 20*0.0625em);
  height: 2ex;
  left: 0;
  top: 0;
  background: #004B63;
  animation: 0.6s blink 20, move 3s 1.5s forwards steps(1);
  border-left: 1px solid #E8E8E6;
  box-shadow: 0px 1ex 0px 0px #004B63;
}
@keyframes move {
  5% {
    width: calc(calc(20ch + 20*0.0625em) - (1ch + 1*0.0625em));
    left: calc(1ch + 1*0.0625em);
  }
  10% {
    width: calc(calc(20ch + 20*0.0625em) - (2ch + 2*0.0625em));
    left: calc(2ch + 2*0.0625em);
  }
  15% {
    width: calc(calc(20ch + 20*0.0625em) - (3ch + 3*0.0625em));
    left: calc(3ch + 3*0.0625em);
  }
  20% {
    width: calc(calc(20ch + 20*0.0625em) - (4ch + 4*0.0625em));
    left: calc(4ch + 4*0.0625em);
  }
  25% {
    width: calc(calc(20ch + 20*0.0625em) - (5ch + 5*0.0625em));
    left: calc(5ch + 5*0.0625em);
  }
  30% {
    width: calc(calc(20ch + 20*0.0625em) - (6ch + 6*0.0625em));
    left: calc(6ch + 6*0.0625em);
  }
  35% {
    width: calc(calc(20ch + 20*0.0625em) - (7ch + 7*0.0625em));
    left: calc(7ch + 7*0.0625em);
  }
  40% {
    width: calc(calc(20ch + 20*0.0625em) - (8ch + 8*0.0625em));
    left: calc(8ch + 8*0.0625em);
  }
  45% {
    width: calc(calc(20ch + 20*0.0625em) - (9ch + 9*0.0625em));
    left: calc(9ch + 9*0.0625em);
  }
  50% {
    width: calc(calc(20ch + 20*0.0625em) - (10ch + 10*0.0625em));
    left: calc(10ch + 10*0.0625em);
  }
  55% {
    width: calc(calc(20ch + 20*0.0625em) - (11ch + 11*0.0625em));
    left: calc(11ch + 11*0.0625em);
  }
  60% {
    width: calc(calc(20ch + 20*0.0625em) - (12ch + 12*0.0625em));
    left: calc(12ch + 12*0.0625em);
  }
  65% {
    width: calc(calc(20ch + 20*0.0625em) - (13ch + 13*0.0625em));
    left: calc(13ch + 13*0.0625em);
  }
  70% {
    width: calc(calc(20ch + 20*0.0625em) - (14ch + 14*0.0625em));
    left: calc(14ch + 14*0.0625em);
  }
  75% {
    width: calc(calc(20ch + 20*0.0625em) - (15ch + 15*0.0625em));
    left: calc(15ch + 15*0.0625em);
  }
  80% {
    width: calc(calc(20ch + 20*0.0625em) - (16ch + 16*0.0625em));
    left: calc(16ch + 16*0.0625em);
  }
  85% {
    width: calc(calc(20ch + 20*0.0625em) - (17ch + 17*0.0625em));
    left: calc(17ch + 17*0.0625em);
  }
  90% {
    width: calc(calc(20ch + 20*0.0625em) - (18ch + 18*0.0625em));
    left: calc(18ch + 18*0.0625em);
  }
  95% {
    width: calc(calc(20ch + 20*0.0625em) - (19ch + 19*0.0625em));
    left: calc(19ch + 19*0.0625em);
  }
  100% {
    width: calc(calc(20ch + 20*0.0625em) - (20ch + 20*0.0625em));
    left: calc(20ch + 20*0.0625em);
  }
}
@keyframes blink {
  0% {
    border-left-color: #E8E8E6;
  }
  50% {
    border-left-color: #E8E8E6;
  }
  51% {
    border-left-color: #004B63;
  }
  100% {
    border-left-color: #004B63;
  }
}
.left-side article p {
  color: #FF7A4F;
  font-size: 1.2em;
}
.left-side article .btn-nav a {
  color: #30B8B2;
  border: 2px solid #30B8B2;
  margin: auto 0.5em;
}
.left-side article .btn-nav a:hover {
  background-color: #30B8B2;
  color: #E8E8E6;
}
.left-side article h3 {
  color: #FF7A4F;
}
.left-side article .about-text {
  color: #E8E8E6;
  text-align: justify;
}
.left-side article .contact-title {
  color: #E8E8E6;
}
.left-side article .contact-subtitle {
  font-size: 1.05em;
}
.left-side article .contact-me {
  display: flex;
  justify-content: space-around;
}
.left-side article .contact-me .sn-contact {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
}
.left-side article .contact-me .sn-contact i {
  color: #30B8B2;
}
.left-side article .contact-me .sn-contact span {
  display: block;
  width: 100%;
  color: #E8E8E6;
  margin-top: 0.8em;
}

.right-side {
  background-color: #121212;
  width: 35%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #E8E8E6;
}
.right-side div img {
  width: 60%;
  margin-bottom: 1em;
}
.right-side div article .my-name {
  font-size: 1.3em;
}
.right-side div article p {
  margin: 0.3em;
}
.right-side div article h3 {
  color: #E8E8E6;
}
.right-side div article .skill-content {
  margin: 2em;
  max-width: 312px;
  text-align: left;
}
.right-side div article .skill-content span {
  display: inline-block;
  background-color: #FF7A4F;
  padding: 5px 10px;
  margin: 0.5em;
}
.right-side div article .about-location {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
}
.right-side div article .about-location i {
  color: #FF7A4F;
}
.right-side div article .about-location span {
  display: block;
  width: 100%;
  color: #E8E8E6;
  margin-top: 0.8em;
}
.right-side div article .map-content {
  margin-top: 1em;
}
.right-side div article .map-content iframe {
  border-radius: 10px;
  max-width: 290px;
  height: 180px;
}
.right-side div .social-network a {
  color: #FF7A4F;
  display: inline-block;
  margin: 0.5em;
}
.right-side div .social-network a:hover {
  color: #30B8B2;
}

.work-content {
  width: 100%;
  min-height: 100%;
  margin-left: 70px;
  background-color: #004a63f8;
  color: #E8E8E6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.work-content a {
  transition: all 0.2s;
}
.work-content article {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 96%;
  margin: auto;
}
.work-content article .project {
  margin: 0.5em 0.3em;
}
.work-content article .project .top-block {
  background-color: #FF7A4F;
  padding: 0.2em;
}
.work-content article .project .top-block .project-img {
  width: 18em;
  height: 10em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.work-content article .project .top-block .project1-img {
  background-image: url(../img/img1.png);
}
.work-content article .project .top-block .project2-img {
  background-image: url(../img/img2.png);
}
.work-content article .project .top-block .project3-img {
  background-image: url(../img/img3.png);
}
.work-content article .project .top-block .project4-img {
  background-image: url(../img/img4.png);
}
.work-content article .project .top-block .project5-img {
  background-image: url(../img/img5.png);
}
.work-content article .project .top-block .project6-img {
  background-image: url(../img/img6.png);
}
.work-content article .project .top-block .project7-img {
  background-image: url(../img/img7.png);
}
.work-content article .project .top-block .project8-img {
  background-image: url(../img/img8.png);
}
.work-content article .project .bottom-block {
  background-color: #121212;
  padding: 0.2em 0.6em;
  display: flex;
  justify-content: space-between;
}
.work-content article .project .bottom-block .about-project {
  color: #FF7A4F;
  text-decoration: none;
}
.work-content article .project .bottom-block .about-project:hover {
  color: #30B8B2;
}
.work-content .btn-see-more {
  color: #E8E8E6;
  background-color: #FF7A4F;
  padding: 0.3em 0.5em;
  font-size: 1.2em;
  text-decoration: none;
}
.work-content .btn-see-more:hover {
  background-color: #30B8B2;
}

/*# sourceMappingURL=style.css.map */
