// Small devices (576px and down)
// @media (max-width: 576px) { 
    
// }

// Medium devices (768px and down)
@media (max-width: 768px) {
    // sections
    #section-home,
    #section-about,
    #section-contact {
        flex-wrap: wrap;
    }

    // left and right side content width
    .left-side,
    .right-side {
        width: 100% !important;
    }

    // left side button 
    .left-side {
        article {
            // buttons from home
            .btn-nav {
                display: none;
            }
        }
    }

    // right side
    .right-side {
        margin-left: 70px;
        padding: 1.1em;
    }
}

// Large devices (992px and down)
// @media (max-width: 992px) {

// }

// Extra large devices (large desktops, 1200px and down)
// @media (max-width: 1200px) {

// }