$color1-opaque: #004a63f8;
$color2: #121212;

// Small devices (576px and down)
// @media (max-width: 576px) { 
    
// }

// Medium devices (768px and down)
@media (max-width: 768px) {
    // sections
    #section-home,
    #section-about,
    #section-contact {
        flex-wrap: wrap;
    }

    // section contact
    #section-contact {
        .left-side {
            background-color: $color2;
        }

        .right-side {
            background-color: $color1-opaque;
        }
    }

    // left and right side content width
    .left-side,
    .right-side {
        width: 100% !important;
        margin-left: 70px !important;
        padding: 5%;
    }

    // left side button 
    .left-side {
        article {
            margin: 0% !important;
            // buttons from home
            .btn-nav {
                display: none;
            }

            h2 {
                font-size: 1.2em;
                display: inline-block !important;
            }

            p {
                font-size: 1em !important;
            }
        }
    }

    // right side
    .right-side {
        padding: 1.1em;

        // content right side
        div {
            article {
                // content from contact page

                // map content
                .map-content {
                    iframe {
                        width: 100%;
                    }
                }

            }
        }
    }

    // work content
    .work-content {
        article {
            // content project
            .project {
                width: 100%;

                .project-img {
                    width: 100% !important;
                }

            }
        }
    }
}

// Large devices (992px and down)
// @media (max-width: 992px) {

// }

// Extra large devices (large desktops, 1200px and down)
// @media (max-width: 1200px) {

// }