
// main font
$main-font: 'Ubuntu', 'Helvetica', sans-serif;

// Color Theme
$color1: #004B63;
$color1-opaque: #004a63f8;
$color2: #121212;
$color3: #30B8B2;
$color4: #FF7A4F;
$color5: #E8E8E6;

// writing animation
$font-size: 40px;
$letter-spacing: 0.001em; //This counts for 1px on 16px font;
$letter-count: 20; //Number of letters in text !important
$transition-time: 3s; //Typing speed

$letter-size: calc(1ch + #{$letter-spacing});
$cursor-width: 1px;
$cursor-blink-duration: $letter-count;
$font-width: calc(#{$letter-count}ch + #{$letter-count}*#{$letter-spacing});

*, *:after, *:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

// background image
$bg: url(../img/bg.png);

// universal
* { margin: 0; padding: 0; font-family: $main-font; }
html, body { width: 100%; height: 100%; }

// adding background image
body {
    background-image: $bg;
    background-attachment: fixed;
}

// general content div
#general-content {
    height: 100%;
    display: flex;
}

// navbar content
.navbar {
    background-color: $color3;
    width: 70px;

    div {
        // brand
        .navbar-brand {
            font-size: 2em;
            background-color: $color2;
            color: $color4;
            height: 2em;
        }

        .nav {
            margin: -.6em;
        }

        // changing colors on active link
        .nav-pills {
            .active {
                color: $color2;
                background-color: $color5;
            }
        }

        // menu nav link, social network link
        .nav-link, 
        .social-network a {
            color: $color1;
            font-size: 1.2em;
        }
        
        .nav-link:hover, 
        .social-network a:hover {
            color: $color2;
        }

        .social-network a {
            font-size: 1.2em;
            display: block;
        }

    }
}

// main content
.left-side {
    background-color: $color1-opaque;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 70px;

    article {
        margin: auto;
        margin: 10%;

        // writing animation from home page
        h2 {
            color: $color5;

            // position: relative;
            color: $color5;
            text-align: center;
            white-space: nowrap;
            letter-spacing: $letter-spacing;
            width: $font-width;
            
            &:after {
                display: block;
                position: absolute;
                content: '';
                width: $font-width;
                height: 2ex;
                left: 0;
                top: 0;
                background: $color1;
                animation: .6s blink $cursor-blink-duration, move $transition-time 1.5s forwards steps(1);
                border-left: $cursor-width solid $color5;
                box-shadow: 0px 1ex 0px 0px $color1;
        
                @keyframes move {
                    @for $i from 1 through $letter-count {
                        $temp: 100/$letter-count;
                        $percent: $i*$temp;
                        #{$percent}% {
                            width: calc(#{$font-width} - (#{$i}ch + #{$i}*#{$letter-spacing}));
                            left: calc(#{$i}ch + #{$i}*#{$letter-spacing});
                        }
                    }
                }
            
                @keyframes blink {
                    0% {
                        border-left-color: $color5;
                    }
                    50% {
                        border-left-color: $color5;
                    }
                    51% {
                        border-left-color: $color1;
                    }
                    100% {
                        border-left-color: $color1;
                    }
                }
            }
        }

        // subtitle home
        p {
            color: $color4;
            font-size: 1.2em;
        }

        // buttons from home
        .btn-nav {
            a {
                color: $color3;
                border: 2px solid $color3;
                margin: auto .5em;
            }

            a:hover {
                background-color: $color3;
                color: $color5;
            }
        }

        // title from about page
        h3 {
            color: $color4;
        }

        // about text content
        .about-text {
            color: $color5;
            text-align: justify;
        }

        // title from contact page
        .contact-title {
            color: $color5;
        }
        // subtitle from contact page
        .contact-subtitle {
            font-size: 1.05em;
        }

        // content contact page
        .contact-me {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            // social network contact
            .sn-contact {
                display: inline-block;
                text-align: center;
                text-decoration: none;
                margin-top: 1em;
                i {
                    color: $color3;
                }

                span {
                    display: block;
                    width: 100%;
                    color: $color5;
                    margin-top: .8em;
                }
            }
        }
    }
}

.right-side {
    background-color: $color2;
    width: 35%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: $color5;

    // content right side
    div {
        img {
            width: 60%;
            margin-bottom: 1em;
        }

        article {
            // content from home page
            .my-name {
                font-size: 1.3em;
            }

            p {
                margin: .3em;
            }

            // content from about page
            h3 {
                color: $color5;
            }
            
            // skills content
            .skill-content {
                margin: 2em;
                max-width: 312px;
                text-align: left;
                
                span {
                    display: inline-block;
                    background-color: $color4;
                    padding: 5px 10px;
                    margin: .5em;
                }
            }

            // content from contact page
            .about-location {
                display: inline-block;
                text-align: center;
                text-decoration: none;
                margin-top: 1em;
                i {
                    color: $color4;
                }

                span {
                    display: block;
                    width: 100%;
                    color: $color5;
                    margin-top: .8em;
                }
            }

            // map content
            .map-content {
                margin-top: 1em;
                iframe {
                    border-radius: 10px;
                    max-width: 260px;
                    height: 180px;
                }
            }

        }

        // social network from home
        .social-network {
            a {
                color: $color4;
                display: inline-block;
                margin: .5em;
            }

            a:hover {
                color: $color3;
            }
        }
    }
}

// work content
.work-content {
    width: 100%;
    min-height: 100%;
    margin-left: 70px;
    background-color: $color1-opaque;
    color: $color5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    
    a {
        transition: all .2s;
    }

    article {
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 96%;
        margin: auto;


        // content project
        .project {
            margin: .5em .3em;
            
            // block of top
            .top-block {
                background-color: $color4;
                padding: .2em;
                
                .project-img {
                    width: 18em;
                    height: 10em;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                // adding img projects
                
                .project1-img { background-image: url(../img/img1.png); }// 1th project
                .project2-img { background-image: url(../img/img2.png); }// 2th project
                .project3-img { background-image: url(../img/img3.png); }// 3th project
                .project4-img { background-image: url(../img/img4.png); }// 4th project
                .project5-img { background-image: url(../img/img5.png); }// 5th project
                .project6-img { background-image: url(../img/img6.png); }// 6th project
                .project7-img { background-image: url(../img/img7.png); }// 7th project
                .project8-img { background-image: url(../img/img8.png); }// 8th project
                
            }

            // block of bottom
            .bottom-block {
                background-color: $color2;
                padding: .2em .6em;
                display: flex;
                justify-content: space-between;

                // button about of project
                .about-project {
                    color: $color4;
                    text-decoration: none;
                }

                .about-project:hover {
                    color: $color3;
                }
            }
        }
    }

    // button see more
    .btn-see-more {
        color: $color5;
        background-color: $color4;
        padding: .3em .5em;
        font-size: 1.2em;
        text-decoration: none;
    }

    .btn-see-more:hover {
        background-color: $color3;
    }
}